<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
    <link rel="stylesheet" href="/css/contact.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header-nav">
        <ul class="main-header-item-list">
          <li class="main-header-item"><a href="/">Shop</a></li>

          <li class="main-header-item">
            <a href="/admin/add-product">Add Product</a>
          </li>

          <li class="main-header-item">
            <a class="active" href="/contactus">Contact Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/success">
        <input type="text" name="name" id="name" placeholder="Name" />
        <input type="email" name="email" id="email" placeholder="Email" />
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
